@import "tailwindcss";

@theme {
  --color-mine-shaft-50: #f6f6f6;
  --color-mine-shaft-100: #e7e7e7;
  --color-mine-shaft-200: #d1d1d1;
  --color-mine-shaft-300: #b0b0b0;
  --color-mine-shaft-400: #888888;
  --color-mine-shaft-500: #6d6d6d;
  --color-mine-shaft-600: #5d5d5d;
  --color-mine-shaft-700: #4f4f4f;
  --color-mine-shaft-800: #454545;
  --color-mine-shaft-900: #3d3d3d;
  --color-mine-shaft-950: #2d2d2d;
  
  --color-bright-sun-50: #fffbeb;
  --color-bright-sun-100: #fff3c6;
  --color-bright-sun-200: #ffe588;
  --color-bright-sun-300: #ffd149;
  --color-bright-sun-400: #ffbd20;
  --color-bright-sun-500: #f99b07;
  --color-bright-sun-600: #dd7302;
  --color-bright-sun-700: #b75006;
  --color-bright-sun-800: #943c0c;
  --color-bright-sun-900: #7a330d;
  --color-bright-sun-950: #461902;



--color-stone-50:  #f5f5f4;
--color-stone-100: #e7e5e4;
--color-stone-200: #d6d3d1;
--color-stone-300: #b6b2ae;
--color-stone-400: #8f8a85;
--color-stone-500: #6f6a66;
--color-stone-600: #57524e;
--color-stone-700: #46413e;
--color-stone-800: #3a3633;
--color-stone-900: #2f2c2a;
--color-stone-950: #1d1b1a;

--color-emerald-50:  #e9fef4;
--color-emerald-100: #c7f9e0;
--color-emerald-200: #94f4c4;
--color-emerald-300: #55e9a3;
--color-emerald-400: #23d082;
--color-emerald-500: #02ba6a;
--color-emerald-600: #029857;
--color-emerald-700: #037645;
--color-emerald-800: #085e38;
--color-emerald-900: #0a4c2f;
--color-emerald-950: #042a19;



}
