spring:
  application:
    name: backend

  datasource:
     url: jdbc:mysql://localhost:3306/jobora
     username: root 
     password: ROOTA 

  jpa:
   show-sql: true
   hibernate:
      ddl-auto: update
   properties:
     hibernate:
       format_sql: true

  config:
    import:
           - classpath:messages.properties
         


    
      
